body {
    font-family: "Inconsolata", monospace;
    font-family: 'Abel', sans-serif !important;
    color: #0d1e2d;
  }

main{
    padding: 40px !important;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre{
    margin-bottom: 40px;
    font-size: 33px;
    font-weight: bolder;
}

a{
    text-decoration: none !important;
    color: black !important;
    text-align: start;
    font-size: 20px;
    font-weight: lighter;
}

img:hover{
    
}

.parte{
    font-size: 26px;
    font-weight: lighter;
}

.foto{
    padding: 12px;
    width: 30% !important;
}

.copy{
    font-size: 16px;
    font-weight: lighter;
}

.mobile{
    display: none !important;
}
.desk{
    display: flex !important;
}


@media (max-width: 768px) {
    .mobile{
        display: flex !important;
    }
    .desk{
        display: none !important;
    }

    main{
        padding: 10px !important;
    }

    .nombre{
        margin-top: 20px;
        text-align: center;
    }

    .foto{
        padding: 12px;
        width: 100% !important;
        margin: 0 !important;
    }

}